# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environments
.env
*.env

# Virtualenv
venv/
.env/
env/
ENV/
env.bak/
*.pid

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Static and Cache files
staticfiles/
*.sass-cache
.cache/
*.swp

# Deployment files
Procfile
